@page "/customers/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
<h3>Customers</h3>
<a href="/customers/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Customer
</a>
<br />
<br />
@if (Customers == null)
{
    <div class="alert alert-info">Loading Customers...</div>
}

else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Card Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Customers)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Email</td>
                    <td>@customer.Address</td>
                    <td>@customer.Contact</td>
                    <td>@customer.Payment.CardNo</td>
                    <td>@customer.Payment.Svc</td>
                    <td>@customer.Payment.Expire.ToString("d MM yyyy")</td>
                    <td>
                        <a href="/Customers/view/@customer.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/Customers/edit/@customer.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(customer.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}




@code {
    private List<Customer> Customers;

    protected async override Task OnInitializedAsync()
    {
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{EndPoint.CustomersEndPoint}");
    }

    async Task Delete(int CustomerId)
    {
        var customer = Customers.First(q => q.Id == CustomerId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {customer.Email}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{EndPoint.CustomersEndPoint}/{CustomerId}");
            await OnInitializedAsync();
        }
    }

}
